.div-alternate > div:nth-child(even) {
  background: #ECEDEF;
}

.tooltip-inner {
  white-space:pre-wrap;
}

//.bg-gd-applicant {
//  background: linear-gradient(#176a99,#0b2a41);
//}
.label {
  float: right;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 4px;
  padding-right: 5px;
}
.panel-heading {
  padding: 6px 13px;
}

.panel {
  margin-bottom: 10px;
  margin-top: -2px;
  font-size: 15px;
}
#left {
  float: left;

  height: 100%;
  overflow-y: scroll;
  background-color: white;
  //text-align: center;
}

#right {
  float: left;
  overflow-y: scroll;
  height: 100%;
  background-color: white;
  //text-align: center;
}
#wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  display: inline-block;
}

.scrollableContainer {
  height: 810px;
}
.uib-dropdown-menu {
  float: left;
}
.m-b-md {
  margin-bottom: 5px;
}
.radio label, .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  font-weight: normal;
  cursor: pointer;
}
