#left {
  float: left;

  height: 100%;
  overflow-y: scroll;
  background-color: white;
  //text-align: center;
}

#right {
  float: left;
  overflow-y: scroll;
  height: 100%;
  background-color: white;
  //text-align: center;
}
#wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  display: inline-block;
}

.scrollableContainer {
  height: 810px;
}
td {
  padding: 10px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 4px 6px 2px !important;
}
.scrollArea table th {
  padding: 0 !important;
  border: none !important;
  /* min-width: 40px; */
  min-width: 116px !important;
}


//.carousel-content {
//  color:black;
//  display:flex;
//  align-items:center;
//}

.list-group li {
  list-style: none;
}
.panel-info, .panel-rating, .panel-more1 {
  float: left;
  margin: 0 10px;
}
.label {
  float:right;

}
.nav{
  float:left;
}
.tab-content{
  float:left;
}
.panel{
  margin-bottom: 10px;
  margin-top: -2px;
  font-size: 15px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 4px;
  padding-right: 5px;
}
.panel-heading {
  padding: 6px 13px;
}
.navbar.navbar-static .navbar-header {
  float:left;
}

.navbar .navbar-toggle.toggle-left {
  float: left;
  margin-left: 15px;
}

.navbar .navbar-toggle.toggle-right {
  float: right;
  margin-right: 15px;
}

.navbar .navbar-toggle.toggle-sidebar, [data-toggle="sidebar"] {
  display: block;
}

/* sidebar settings */
.sidebar {
  position: fixed;
  display: block;
  top: 51px;
  bottom:0;
  z-index: 1000;
  min-height: 100%;
  max-height: none;
  overflow: auto;
}

.sidebar-left {
  left: -19;
}

.sidebar-right {
  padding-left: 5px;
  right: 0;
}

/* css to override hiding the sidebar according to different screen sizes */
.row .sidebar.sidebar-left.sidebar-xs-show {
  left: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -moz-transform: none;
}

/*right sidebar is untested */
.row .sidebar.sidebar-right.sidebar-xs-show {
  right: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -moz-transform: none;
}

@media (min-width: 768px) {
  .row .sidebar.sidebar-left.sidebar-sm-show {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
  }

  /*right sidebar is untested */
  .row .sidebar.sidebar-right.sidebar-sm-show {
    right: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
  }
}

@media (min-width: 992px) {
  .row .sidebar.sidebar-left.sidebar-md-show {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
  }
  .row .sidebar.sidebar-right.sidebar-md-show {
    right: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
  }
}

@media (min-width: 1170px) {
  .row .sidebar.sidebar-left.sidebar-lg-show {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
  }
  .row .sidebar.sidebar-right.sidebar-lg-show {
    right: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
  }
}

/* animation class - optional: without it the sidebar would just pop in and out*/
.sidebar-animate {
  -webkit-transition: -webkit-transform 300ms ease;
  -moz-transition: -moz-transform 300ms ease;
  transition: transform 300ms ease;
}

/* Left panel positioning classes */
.sidebar.sidebar-left {
  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.sidebar.sidebar-left.sidebar-open {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -moz-transform: none;
}

/* TODO: TEST THIS! Right panel positioning classes*/
.sidebar.sidebar-right {
  -webkit-transform: translate3d(100%,0,0);
  -moz-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.sidebar.sidebar-right.sidebar-open {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -moz-transform: none;
}
.sidebar-heading {
  padding: 6px 13px;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #1750a9;
}

.col-xs-7 {
  width: 101.333333%;
}
.m-b-md {
  margin-bottom: -9px;
}
p {
  margin: 0 0 2px;
}
